# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

Cython/

Cython-0\.25\.2\.dist-info/

PyJWT-1\.5\.2\.dist-info/

annotator/

annotator-0\.14\.2\.dist-info/

elasticsearch/

elasticsearch-1\.9\.0\.dist-info/

glove/

glove-1\.0\.0\.dist-info/

glove_python-0\.1\.0\.dist-info/

iso8601/

iso8601-0\.1\.11\.dist-info/

jwt/

numpy/

numpy-1\.13\.1\.dist-info/

pyximport/

scikit_learn-0\.18\.2\.dist-info/

scipy/

scipy-0\.19\.1\.dist-info/

six-1\.10\.0\.dist-info/

sklearn/

sklearn-0\.0\.dist-info/

urllib3/

urllib3-1\.21\.1\.dist-info/
